/* Define CSS variables for colors */
:root {
    --color-background: #222831;
    --color-secondary-bg: #31363F;
    --color-primary-text: #EEEEEE;
    --color-input-bg: #222831;
    --color-button-hover: #3a4453;
    --color-danger: #FF4C4C;
    --color-danger-hover: #da4141;
    --color-disabled-bg: #ccc;
    --color-disabled-text: #666;
}

.light-theme {
    --color-background: #f0f0f0;
    --color-secondary-bg: #ffffff;
    --color-primary-text: #333333;
    --color-input-bg: #f0f0f0;
    --color-button-hover: #d1d1d1;
    --color-danger: #FF4C4C;
    --color-danger-hover: #da4141;
    --color-disabled-bg: #e0e0e0;
    --color-disabled-text: #999999;
}

/* Global Styles */
body {
    font-family: Helvetica, sans-serif;
    background-color: var(--color-background);
    color: var(--color-primary-text);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    text-align: center;
    transition: background-color 0.5s ease, color 0.5s ease;
}

button, input, .todo-container, .timer-container {
    transition: background-color 0.5s ease, color 0.5s ease;
    transition-delay: 50ms;
}

#theme-switcher {
    position: absolute;
    top: 40px;
    right: 30px; /* Adjust this value based on your layout */
    font-size: 24px; /* Adjust the size of the icon */
    color: var(--color-primary-text);
    cursor: pointer;
    padding: 16px;
    background-color: var(--color-secondary-bg);
    border-radius: 16px;
}

#theme-switcher:hover {
    background-color: var(--color-button-hover);
}

/* Date and Time Container */
#date-time-container {
    display: flex;
    justify-content: space-between;
    padding: 16px;
    width: 400px;
}

#date, #clock {
    flex: 1;
    text-align: center;
    font-size: 1em;
    color: var(--color-primary-text);
}

#date {
    text-align: left;
}

#clock {
    text-align: right;
}

/* Main Container */
.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

/* To-do and Timer Container */
.todo-container, .timer-container {
    width: 400px;
    background-color: var(--color-secondary-bg);
    padding: 24px;
    margin-bottom: 24px;
    border-radius: 32px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    margin-bottom: 24px;
}

/* Input Styles */
input[type="text"] {
    font-size: 16px;
    width: 100%;
    padding: 16px;
    margin-bottom: 0;
    background-color: var(--color-input-bg);
    border: 2px solid var(--color-primary-text);
    color: var(--color-primary-text);
    border-radius: 16px;
    box-sizing: border-box;
}

/* Button Styles */
button {
    padding: 20px 20px;
    background-color: none;
    color: white;
    border: none;
    border-radius: 16px;
    cursor: pointer;
}

button:hover {
    background-color: none;
}

/* To-Do List Styles */
ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: var(--color-input-bg);
    padding: 16px;
    margin-top: 16px;
    border-radius: 16px;
    display: flex;
    justify-content: space-between;
    align-items: left;
}

li button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
    padding: 5px;
}

li.task-item .task-container {
    display: flex;
    align-items: center;
    flex-grow: 1;
}

li.task-item .task-container .fa-circle,
li.task-item .task-container .fa-check-circle {
    font-size: 24px;
    cursor: pointer;
    color: var(--color-primary-text);
}

li.task-item.completed .task-container .fa-check-circle {
    color: var(--color-button-hover);
}

li.task-item .task-container .task-text {
    margin-left: 10px;
    font-size: 16px;
    line-height: 1.5;
}

li.task-item.completed .task-text {
    text-decoration: line-through;
}

li.task-item .delete {
    cursor: pointer;
    color: var(--color-danger);
    margin-left: 16px;
}

li.task-item .delete i {
    font-size: 24px;
}

.edit-input {
    width: 80%;
    padding: 0;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 3px;
    outline: none;
}

/* Timer Styles */
#task-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#timer-controls {
    text-align: center;
}

#countdown {
    margin: 20px 0;
    font-size: 16px;
    color: var(--color-primary-text);
    text-align: center;
}

/* Timer Button Styles */
button.timer-button {
    padding: 16px;
    margin-right: 10px;
    background-color: var(--color-input-bg);
    color: var(--color-primary-text);
    border: none;
    border-radius: 16px;
    cursor: pointer;
    margin-bottom: 16px;
    font-size: 16px;
}

button.timer-button:hover {
    background-color: var(--color-button-hover);
}

button#stop-timer {
    background-color: var(--color-danger);
    color: white;
    border: none;
    padding: 16px 20px;
    cursor: pointer;
    font-size: 16px;
}

button#stop-timer:hover {
    background-color: var(--color-danger-hover);
}

#stop-timer.disabled {
    background-color: var(--color-disabled-bg);
    color: var(--color-disabled-text);
    cursor: not-allowed;
}

#stop-timer.disabled:hover {
    background-color: var(--color-disabled-bg);
    color: var(--color-disabled-text);
}

.timer-button.active {
    box-shadow: inset 0 0 0 2px var(--color-primary-text);
}
